langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-google-genai==2.1.4
langchain-google-vertexai==2.0.24
langchain-mongodb==0.6.2
pymongo==4.13.0
python-dotenv==1.1.0
streamlit
colorama